.videoContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    /* background-color: red; */
}

.videoCardImage:hover{
    cursor: pointer;
}

.videoCardImage{
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
}

.videoThumbnail{
    height: 180px;
    width: 240px;
    border-radius: 10px;
    object-fit: contain;
    /* background-color: yellow; */
}

.videoTitle{
    color: white;
}