

.watchScreenContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    color: white;
    background-color: #6C727D;
    min-height: 88.5vh;
    height: 100vh;
    width: 100%;
}


.watchScreenContainer div{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* height: 800px !important; */
    object-fit: contain;
    padding-bottom: 800px !important;
    width: 88% !important;
}


.watchScreenContainer iframe{
    border-radius: 10px;
    height: 100% !important;
    object-fit: cover;
    width: 100% !important;
}